* {
    margin: 0px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

.arrange-left {
    float: left;
}

.wid-25 {
    width: 25%;
}

.wid-50 {
    width: 50%;
}

.wid-75{
    width: 75%;
}

.next-row {
    clear: both;
}

.common-btn {
    height: 50px;
    min-width: 60px;
    border: 1px solid #ddd;
    border-radius: 0px;
    text-align: center;
    color: #d19c97;
    background-color: white;
    margin-right: 8px;
}

.common-btn span {
    font-size: 16px;
    font-weight: 500;
    color: #d19c97;
}

.common-btn span i {
    color: #d19c97;
}
